# Python
__pycache__/
*.pyc
*.pyo

# Streamlit
.streamlit/

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# CatBoost
catboost_info/

# Logs & temp
*.log
